header {
    height: 64px;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.header--logo {
    align-self: flex-start;
    object-fit: contain;
}

/* NAVIGATION */

.header--nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
   }
li {
    float: right;
    border-right: 16px solid white;
    
}
  .li--campus {
    list-style-image: url("/resources/images/ic-on-campus.svg");
  }
  .li--online {
    list-style-image: url("/resources/images/ic-online.svg");
  }
  .li--sign {
    list-style-image: url("/resources/images/ic-login.svg");
  }
  .li--companies {
    list-style-type: none;
  }


/*Section 1*/

.container1 {
  background-color:rgb(212, 212, 212);
  display: flex;
}
.container1--image1 {
    max-width: 60%;
    object-fit: contain;
    align-self: flex-start;
    margin: 32px 24px;
}
.container1--text {
    flex: 1 1 auto;

}
/*Section 2*/
.container2 {
    display: flex;
    max-width: 60%;
  }
  .container2--image1 {
      max-width: 60%;
      object-fit: contain;
      align-self: flex-start;
      margin: 32px 24px;
  }
  .container2--text {
    flex: 1 1 auto;
    text-align: justify;
    width: 60%;

}
.container3 {
    max-width: 40%;
    align-content:flex-start;
} 