header {
    height: 64px;
    display: flex;
    margin: 0;
    padding: 0;
    
}
.header--logo {
    align-self: flex-start;
    object-fit: contain;
}

/* NAVIGATION */

.header--nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
   }
li {
    float: right;
    border-right: 16px solid white;
    
}
  .li--campus {
    list-style-image: url("/resources/images/ic-on-campus.svg");
  }
  .li--online {
    list-style-image: url("/resources/images/ic-online.svg");
  }
  .li--sign {
    list-style-image: url("/resources/images/ic-login.svg");
  }
  .li--companies {
    list-style-type: none;
  }


/*Section 1*/

.container1 {
  background-color:hsl(0, 0%, 83%);
  display: flex;
}
.container1--image1 {
    max-width: 60%;
    object-fit: contain;
    align-self: flex-start;
    margin: 32px 24px;
}
.container1--text {
    flex: 1 1 auto;

}
/*Section 2*/
.container2 {
    display: flex;
    
 }
.container2--section1 {
   flex: 1;
   width: 100%;
 }
  .container2--image1 {
     max-width: 100%;
      object-fit: contain;
      align-self: flex-start;
      margin: 32px 24px;
      
  }
  .container2--text {
     float: none;
     margin: 32px 24px;
 }

.container2--section2 {
  flex: 1;
  max-width: 40%;
 }
/*Section 3*/
.container3 {
  background-color:hsl(0, 0%, 83%);
  display: flex;
  overflow: auto;
  
}
  .software, .computerart, .design, .data, .business, .marketing {
    border-right:32px solid hsl(0, 0%, 83%);
    margin: 32px 72px;
    background-color: white;
    margin: 0 auto;
  }

 